/* 
  ## Config
*/

$path-image: '~/assets/img/';

/* 
  ## Colors 
*/

$palette-colors: (
  white100: #fff,
  black100: #000,
  black200: #2a2d3b,
  gray100: #e1e1e1,
  gray200: #f8f9fd,
  gray300: #e4e7f4,
  gray400: #9198af,
  green100: #dbff90,
  green200: #90d26c,
  red100: #fa7268,
  pink100: #fff3f2,
  blue100: #c0c3d2
);

/*
  ## Layout
*/

$breakpoint-container: 1280px;
$breakpoint-large: 960px;
$breakpoint-medium: 760px;
$breakpoint-small: 640px;
$height-header: 80px;

/*
  ## Text Size
*/

$text-size: (
  title: 30px,
  large: 24px,
  medium: 20px,
  small: 16px,
  base: 14px
);

/*
  ## Fonts family
*/
$fonts-family: (
  1: ('Roboto', sans-serif)
);

/*
  ## Padding / Margin
*/

$padding-margin-sizes: (
  0: 0,
  10: 10px,
  20: 20px,
  30: 30px,
  40: 40px,
  50: 50px
);
